<header>
  <mat-form-field class="animated fadeInDown headpanel employee">
    <mat-label>Select the employee</mat-label>
    <mat-select (selectionChange)="onEmployeeChanged($event.value)">
      <mat-option *ngFor="let employee of employees | async " [value]="employee.id">
        {{employee.id}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="animated fadeInDown headpanel dateselection">
    <mat-form-field>
      <mat-label>Select Year</mat-label>
      <mat-select (selectionChange)="onSelectYear($event.value)" [(ngModel)]="year">
        <mat-option [value]="2015">2015</mat-option>
        <mat-option [value]="2016">2016</mat-option>
        <mat-option [value]="2017">2017</mat-option>
        <mat-option [value]="2018">2018</mat-option>
        <mat-option [value]="2019">2019</mat-option>
        <mat-option [value]="2020">2020</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Month</mat-label>
      <mat-select (selectionChange)="onSelectMonth($event.value)" [(ngModel)]="month">
        <mat-option [value]="0">January</mat-option>
        <mat-option [value]="1">February</mat-option>
        <mat-option [value]="2">March</mat-option>
        <mat-option [value]="3">April</mat-option>
        <mat-option [value]="4">May</mat-option>
        <mat-option [value]="5">June</mat-option>
        <mat-option [value]="6">July</mat-option>
        <mat-option [value]="7">August</mat-option>
        <mat-option [value]="8">September</mat-option>
        <mat-option [value]="9">October</mat-option>
        <mat-option [value]="10">November</mat-option>
        <mat-option [value]="11">December</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <mat-icon *ngIf="alarms && alarms.length>0" [matMenuTriggerFor]="alarmMenu" class="animated swing alert" matBadgeColor="warn" matBadge="{{alarms.length}}" >notifications  </mat-icon>
  <mat-menu #alarmMenu="matMenu" yPosition="below" backdropClass="alarmMenu">
    <div *ngFor="let alarm of alarms" class="alarm-line">
      <mat-icon>warning</mat-icon>
      <span>{{alarm.date | date:'short'}}</span> :: <span>{{alarm.description}}</span>
    </div>
  </mat-menu>

  <div class="animated fadeIn weekinfopanel">
    <!-- the calendar navigator at the top-->
    <div class="navigator">
      <mat-icon mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" aria-hidden="false"
        aria-label="Move to Previous Week" (viewDateChange)="onDateChange($event)">navigate_before</mat-icon>
      <div class="currentDate">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</div>
      <mat-icon mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" aria-hidden="false"
        aria-label="Move to Next Week" (viewDateChange)="onDateChange($event)">navigate_next</mat-icon>
    </div>
    <div class="weekinfo" *ngIf="currentEmployee!=null">
      <span class="totalworkhours">Total Work Hours: {{totalWorkHoursForCurrentWeek}}&nbsp;h</span>
    </div>
  </div>

</header>

<mwl-calendar-week-view [(viewDate)]="viewDate" [events]="events" [refresh]="refresh" [dayStartHour]="6"
  (eventClicked)="handleEvent('Clicked', $event.event)" (beforeViewRender)="refreshData()"
  (eventTimesChanged)="eventTimesChanged($event)">
</mwl-calendar-week-view>