h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

header {
  padding: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

mat-form-field {
  margin-right: 10px;
}

.headpanel {
  margin-right: 40px;
  background: #ffffff;
  background-blend-mode: lighten;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  float: left;
}

mat-form-field.employee {
}

.dateselection {
}

.weekinfopanel {
  float: right;
}

.navigator {
  overflow: hidden;
  background: #585858;
  border-radius: 5px;
}

.navigator mat-icon:hover {
  background: white;
  color: black;
}

.navigator mat-icon:active {
  background: white;
  color: black;
}

.navigator mat-icon {
  float: left;
  width: 25px;
  height: 30px;
  line-height: 32px;
  cursor: pointer;
  color: white;
  background: #5b7fa2;
}
.currentDate {
  float: left;
  padding: 5px;
  color: #ffffff;
  border-radius: 5px;
  min-width: 150px;
  text-align: center;
}

.alert {
  color: #000000;
  width: 60px;
  height: 30px;
  border-radius: 18px;
  background: #fffa00;
  text-align: center;
  padding: 0px;
  margin: 0px;
  line-height: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.alert:hover {
  background: #ffff55;
}

.alarm-line mat-icon {
  position: absolute;
  left: 0px;
  color: red;
  transform: rotate(-13deg);
  margin-top: -7px;
}

.alarm-line {
  background: #ffffffeb;
  padding-left: 20px;
  padding-right: 10px;
}

.weekinfo {
}

.totalworkhours {
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  min-width: 0;
  display: block;
  border-radius: 4px;
}

mat-menu {
  background: red;
}

.alarmMenu {
  background: red;
}
