/* You can add global styles to this file, and also import other style files */
body {
  background: url("/assets/otis_redding.png");
}

.mat-menu-panel {
  max-width: unset !important;
  background: rgba(255, 250, 12, 0.8);
  padding: 5px;
  margin-top: 3px;
}
